[user]
	name = schktjm
	email = schktjm@gmail.com
	signingkey = FF750128B7C1CF9AB35745371EA397C019522714
[color]
    ui = auto
[gui]
    encoding = utf-8
[core]
    editor = vim
    quotepath = false
	autoCRLF = false
	excludesfile = ~/.gitignore_global
    ignorecase = false
[commit]
    template = ~/.gitmessage
	gpgsign = true
[alias]
    checkout = !echo Oh! use switch or restore
    pll = git pull origin `git rev-parse --abbrev-ref HEAD`
[gpg]
	program = gpg
[tag]
	gpgsign = true
[init]
	defaultBranch = main
